/* 
contact.html
Center all the text of the main content (excluding content in header and footer elements)
Round the corners of the site maintainer image  */
.header {
    text-align: center;
    background-color: rgb(245, 153, 24);
    color: black;
}

.welcome {
    text-align: center;
    padding: 50px;
    width: 50%;
}

button{
    color: black;
    background-color: rgb(167, 241, 102);
}
.goofy {
    background-color: rgba(6, 74, 80, 0.474);
    border-radius: 1em;
}

.footer {
    text-align: center;
    background-color: rgb(245, 153, 24);
}